@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Тестовое задание B2-Group</h1>
    <p><a href="https://github.com/timbilding?tab=repositories" target="_blank">GitHub</a></p>
</div>
